# Core
numpy==1.26.4

# TensorFlow
tensorflow==2.16.1

# Visualization
matplotlib==3.8.4

# ML utilities
scikit-learn==1.4.2

# Imaging
Pillow==10.3.0

# Config
PyYAML==6.0.1

# Serving
Flask==3.0.3

# Kaggle data download
kaggle==2.2.3
python-dotenv==1.0.1

# Experiment tracking
mlflow==2.22.5
dagshub==0.7.0
protobuf==4.25.5

-e .
